@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  background: -webkit-linear-gradient(to right, #2c3e50, #000000);
  background: linear-gradient(to right, #2c3e50, #000000);
}
